In [1]:
%load_ext sql
%sql sqlite:///PS2.db

u'Connected: @PS2.db'

Problem Set #2
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on the class website. Follow the instructions on the file! Upload the file at Canvas (under PS2).


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [24 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [2]:
%sql select * from hospital limit 2;

 * sqlite:///PS2.db
Done.

[(10018, u'CALLAHAN EYE FOUNDATION HOSPITAL', u'1720 UNIVERSITY BLVD', u'BIRMINGHAM', u'AL', 35233, u'JEFFERSON', 2053258100, u'Acute Care Hospitals', u'Voluntary non-profit - Private', u'Yes', u'Surgical Infection Prevention', u'SCIP-CARD-2'),
 (10018, u'CALLAHAN EYE FOUNDATION HOSPITAL', u'1720 UNIVERSITY BLVD', u'BIRMINGHAM', u'AL', 35233, u'JEFFERSON', 2053258100, u'Acute Care Hospitals', u'Voluntary non-profit - Private', u'Yes', u'Surgical Infection Prevention', u'SCIP-INF-1')]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition _doesn't hold_, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [14 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [2]:
%sql select provider from hospital group by provider having count(*)>1;

 * sqlite:///PS2.db
Done.

[(10001,),
 (10005,),
 (10006,),
 (10007,),
 (10008,),
 (10009,),
 (10010,),
 (10011,),
 (10012,),
 (10015,),
 (10016,),
 (10018,),
 (10019,),
 (10021,),
 (10022,),
 (10023,),
 (10024,),
 (10025,),
 (10027,),
 (10029,),
 (10032,),
 (10033,),
 (10034,),
 (10035,),
 (10036,),
 (10038,),
 (10039,),
 (10040,),
 (10043,),
 (10044,),
 (10045,),
 (10046,),
 (10047,),
 (10049,),
 (10050,),
 (10055,),
 (10056,),
 (10086,),
 (10087,),
 (10108,),
 (10158,),
 (10164,),
 (20017,),
 (20018,)]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [40]:
%sql select * from (select * from hospital group by zip,city) group by zip having count(*)>1 union select * from (select * from hospital group by zip,state) group by zip having count(*)>1;

 * sqlite:///PS2.db
Done.

[]

Problem 2: Superkeys & Decompositions [40 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [8 points]

Is it correct that ${A,B}$ is a superkey?

In [15]:
answer = True

explanation = "A,B is a superkey because its closure is {A,B,C,D,E,F}"

### Part (b) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

In [ ]:
answer = False

explanation = "Because the intersection of the pairs of decomposition don't give a superkey. Ex: C is not a superkey in either ABC or CDE"

### Part (c) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

In [ ]:
answer = False

explanation = "Because {A}->{D} and {D}->{F} are not implied by the decompositions"

### Part (d) [8 points]

Is the functional dependency $\{A\} \rightarrow \{C,F\}$ logically implied by FDs present in the relation?

In [ ]:
answer = True

explanation = "Because of the Armstrong's Transitivity Axiom - ({A}->{D}, {D}->{C} and {D}->{F})"

### Part (e) [8 points]

Is it correct that relation $S$ is in BCNF?

In [23]:
answer = False

explanation = "Because the left hand side (A & D) of the non-trivial FD's are not superkeys in S"

Problem 3: Relational Algebra [36 points]
---------

Consider the following relational schema:
*  `JournalArticle(articleID, title, journal, volume, year, month)`
*  `ConferenceArticle(articleID, title, conference, year, location)`
*  `Person(name, affiliation)`
*  `Author(name, articleID)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [9 points]

Output the names of everyone who is affiliated with `UW-Madison` and who has submitted during 2018 at least one journal article, but no conference articles:

$$ R_{1}  \leftarrow  \sigma_{affiliation="UW-Madison"}(Person \bowtie Author)$$

$$ R_{2}  \leftarrow  \pi_{name}(\sigma_{year="2018"} (R_{1} \bowtie JournalArticle))$$

$$ R_{3}  \leftarrow  \pi_{name}(\sigma_{year="2018"} (R_{1} \bowtie ConferenceArticle))$$

$$ R_{4}  \leftarrow  R_{2} - R_{3}$$

$$ R_{1}  \leftarrow  \pi_{UserID}(\sigma_{ReviewCount>=100} Users)$$

$$ R_{2}  \leftarrow  \pi_{UserID,BusinessID}(\sigma_{Stars>4} Reviews)$$

$$ R_{3}  \leftarrow  R_{1} \bowtie R_{2}$$

$$ R_{4}  \leftarrow  \pi_{BusinessID}(R_{3})$$

$$ R_{5}  \leftarrow  \pi_{BusinessID,BName}(Businesses)$$

$$ R_{6}  \leftarrow  \pi_{BName}(R_{4} \bowtie R_{5})$$

### Part (b) [9 points]

Output the names of the people who coauthored an article (in a journal or conference) with `John Doe`. Be careful: a person cannot be coauthor with herself!

$$ R_{1}  \leftarrow  \sigma_{name="John\, Doe"} (Person \bowtie Author)$$

$$ R_{2}  \leftarrow  \pi_{articleID}(R_{1} \bowtie JournalArticle)$$

$$ R_{3}  \leftarrow  \pi_{articleID}(R_{1} \bowtie ConferenceArticle)$$

$$ R_{4}  \leftarrow  R_{2} \cup R_{3}$$

$$ R_{5}  \leftarrow  \pi_{name}(\sigma_{name!="John\, Doe"}(Author \bowtie R_{4}))$$

### Part (c) [9 points]

Count how many journal *or* conference articles were published in 2018 by `John Doe`.

$$ R_{1}  \leftarrow  \sigma_{name="John\, Doe"} (Person \bowtie Author)$$

$$ R_{2}  \leftarrow  \pi_{articleID}(\sigma_{year="2018"} (R_{1} \bowtie JournalArticle))$$

$$ R_{3}  \leftarrow  \pi_{articleID}(\sigma_{year="2018"} (R_{1} \bowtie ConferenceArticle))$$

$$ R_{4}  \leftarrow  \gamma_{count(articleID)}(R_{2} \cup R_{3})$$

### Part (d) [9 points]

Output the names of everyone who published at least as many conference as journal papers during every year in the span from 2000 to 2018 (including 2000 and 2018).

$$ R_{1}  \leftarrow  Person \bowtie Author$$

$$ R_{2}  \leftarrow  \gamma_{name,year,count(articleID)}(\sigma_{year>="2000" and\, year<="2018"}\,\,\, (R_{1} \bowtie ConferenceArticle))$$

$$ R_{3}  \leftarrow  \rho_{name,year,conferenceCount}(R_{2})$$

$$ R_{4}  \leftarrow  \gamma_{name,year,count(articleID)}(\sigma_{year>="2000" and\, year<="2018"}\,\,\, (R_{1} \bowtie JournalArticle))$$

$$ R_{5}  \leftarrow  \rho_{name,year,journalCount}(R_{4})$$

$$ R_{6}  \leftarrow  R_{3} \bowtie R_{5}$$

$$ R_{7}  \leftarrow  \pi_{name}(R_{6})  -  \pi_{name}(\sigma_{conferenceCount<journalCount}(R_{6}))$$